@keyframes opacity {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes scale {
    0% {transform: scale(1);}
    100% {transform: scale(1.1);}
}
@keyframes bottom {
    0% {bottom: -41px;}
    100% {bottom: -120px;}
}